{% extends "base.html" %}


{% block content %}
<form method="POST" class="post-form" action="/inventory/edit/update/{{content.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Management ip:</label>
    <div class="col-sm-4">
        <input type="text" name="management_ip"  required maxlength="20" value="{{ content.management_ip }}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Location:</label>
    <div class="col-sm-4">
        <input type="text" name="location"  required maxlength="100" value="{{ content.location  }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Site Address:</label>
    <div class="col-sm-4">
        <input type="text" name="site_address"  required maxlength="254" value="{{ content.site_address }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Spoc Name 1:</label>
    <div class="col-sm-4">
        <input type="text" name="spoc_name1" required maxlength="15" value="{{ content.spoc_name1 }}" />
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Spoc Contact 1:</label>
    <div class="col-sm-4">
        <input type="text" name="spoc_contact1" required maxlength="15" value="{{ content.spoc_contact1 }}" />
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Spoc Name 2:</label>
    <div class="col-sm-4">
        <input type="text" name="spoc_name2"  required maxlength="15" value="{{ content.spoc_name2 }}" />
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Spoc Contact 2:</label>
    <div class="col-sm-4">
        <input type="text" name="spoc_contact2"  required maxlength="15" value="{{ content.spoc_contact2 }}" />
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
    </div>
</form>


{% endblock %}








