{% extends "base.html" %}
{% block style %}
<style>
body {
	background: #eee !important;
}

.form {
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

</style>
{% endblock %}


{% block content %}
      <form class="form" method = 'POST' action= '.' value="save" style="margin-top:-2%;width:50%;height:100%">{% csrf_token %}
        <h2 class="form-heading">Inventory Form</h2>
          {{ form.as_p}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <br>
      </form>

{% endblock %}
