{% extends "base.html" %}


{% block content %}
<form method="POST" class="post-form" action="/handover_form/edit/update/{{content.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Function:</label>

    <div class="col-sm-4">
        <select class="form-control" name="status"  style="width:38%" >
        <option value="{{ content.function }}">{{content.function}}</option>
        <option value="RAVPN">RAVPN</option>
        <option value="DNS">DNS</option>
        <option value="CDC Devices">CDC Devices</option>
        </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Incident Ticket:</label>
    <div class="col-sm-4">
        <input type="text" name="incident_ticket" class="form-control"  required maxlength="100" value="{{ content.incident_ticket }}" />
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Vendor Ticket:</label>
    <div class="col-sm-4">
        <input type="text" name="vendor_ticket" class="form-control"  required maxlength="254" value="{{ content.vendor_ticket }}" />
    </div>

  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Problem Statement:</label>
    <div class="col-sm-4">
        <input type="text" name="problem_statement" class="form-control" required maxlength="15" value="{{ content.problem_statement }}" />
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Summary</label>
    <div class="col-sm-4">
        <input type="text" name="summary" class="form-control" required maxlength="15" value="{{ content.summary }}" />
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Submitted by:</label>
    <div class="col-sm-4">
        <input type="text" name="submitted_by" class="form-control" required maxlength="15" value="{{ content.submitted_by  }}" />
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Assigned to:</label>
    <div class="col-sm-4">
        <input type="text" name="assigned_to" class="form-control"  required maxlength="15" value="{{ content.assigned_to }}" />
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Submitted Date:</label>
    <div class="col-sm-4">
        <input type="text" name="submitted_date" class="form-control"  required maxlength="15" value="{{ content.submitted_date }}" />
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Status:</label>
    <div class="col-sm-4">
        <select class="form-control" name="status"  style="width:38%" >
        <option value="{{ content.status }}">{{content.status}}</option>
        <option value="Active" >Active</option>
        <option value="Closed">Closed</option>
        </select>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
    </div>
</form>


{% endblock %}







